@font-face {
  font-family: "futuraBook";
  font-weight: 400;
  font-display: swap;

  src: url(futuraBook/futuraBook.woff2) format("woff2"),
       url(futuraBook/futuraBook.woff) format("woff");
}

